/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the login form */
.login-form {
    width: 300px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Style for the login button */
.login-form input[type="submit"] {
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
